[package]
name = "rustysd"
version = "0.1.0"
authors = ["Moritz Borcherding <moritz.borcherding@web.de>"]
edition = "2018"

[dependencies]
signal-hook = "0.1.10"
libc = "0.2.65"
nix = "0.15.0"
log = "0.4.8"
fern = "0.5.9"
chrono = "0.4.9"
threadpool = "1.7.1"
serde_json = "*"
toml = "*"
dbus = {version = "*", optional = true}

lumberjack-rs = { git = "https://github.com/KillingSpark/lumberjack-rs" }

[features]
dbus_support = ["dbus"]
linux_eventfd = []