[Unit]
Before=1-2.target

[Service]
ExecStartPre= /usr/bin/echo "1_1 PreStart"
ExecStart= /usr/bin/echo "1_1 Start"
ExecStartPost= /usr/bin/echo "1_1 PostStart"
ExecStop= /usr/bin/echo "1_1 Stop"
ExecStop= -/usr/bin/false
ExecStop= /usr/bin/echo "1_1 Do execute after -/bin/false"
ExecStop= /usr/bin/false
ExecStop= /usr/bin/echo "1_1 Stop do not execute after /bin/false"
ExecStopPost= /usr/bin/echo "1_1 PostStop"
Type=oneshot

[Install]
WantedBy=1-2.target