[Unit]
After=1-2.target

[Service]
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStartPre= /usr/bin/echo "2_3 PreStart"
ExecStart= /bin/sleep 1
ExecStartPost= /usr/bin/echo    "2_3 PostStart"
ExecStop= /usr/bin/echo         "2_3 Stop"
ExecStopPost= /usr/bin/echo     "2_3 PostStop"
Type=oneshot

[Install]
WantedBy=2-3.target