[Unit]
Description=test Socket

[Socket]
FileDescriptorName= SockeyMcSocketFace2

# ListenDatagram= 127.0.0.1:9032
# ListenDatagram= 127.0.0.1:9033
Service= cservice

[Install]
WantedBy=sockets.target