[Unit]
Description=test Socket

[Socket]
FileDescriptorName= SockeyMcSocketFace

ListenStream= 127.0.0.1:1080
ListenStream= 127.0.0.1:1081

[Install]
WantedBy=sockets.target