[Service]
ExecStart= ./test_c_service/test_service  arg1 arg2
Sockets= cservice.socket
NotifyAccess= all
Type= notify
Restart= always

[Install]
#WantedBy= default.target