[Unit]
Description=test Socket

[Socket]
FileDescriptorName= SockeyMcSocketFace

ListenStream= 127.0.0.1:6080
ListenStream= 127.0.0.1:6081

[Install]
WantedBy=sockets.target