[Service]
ExecStart= echo "This is a log from a service"
ExecStartPre= sleep 1
ExecStartPost= sleep 1
ExecStop = echo "Stop"
ExecStop = false
ExecStopPost = echo "Post stop"
Type= oneshot
TimeoutStartSec= 0min 4s

StandardOutput= append:./oneshot_output

[Unit]
Before= test2.service

[Install]
WantedBy= default.target