[Service]
ExecStart= /bin/echo "This is a log from a service"
ExecStartPre= /bin/sleep 1
ExecStartPost= /bin/sleep 1
ExecStop = echo "Stop"
ExecStop = /bin/false
ExecStopPost = echo "Post stop"
Type= oneshot
TimeoutStartSec= 0min 4s

StandardOutput= append:./oneshot_output

[Unit]
Before= test2.service

[Install]
WantedBy= default.target