[Unit]
Description=test Socket
PartOf=test2.service

[Socket]
FileDescriptorName= Test2Sock

ListenStream= ./sockets/servicelog2_stream
ListenStream= 127.0.0.1:9080
ListenDatagram= 127.0.0.1:9081
ListenDatagram= ./sockets/servicelog2_datagram
ListenSequentialPacket= ./sockets/servicelog2_sequential

[Install]
WantedBy=sockets.target