[Service]
ExecStart= ./target/debug/testservice arg1 arg2
Sockets= test_second.socket
NotifyAccess= all
Type= notify
Restart= always
ExecStartPre= /bin/sleep 1
ExecStartPost= /bin/sleep 1
ExecStop = /bin/sleep 1

[Unit]
Before= test2.service

[Install]
WantedBy= default.target