[Unit]
Description=test Socket
PartOf=test.service

[Socket]
ListenStream= ./servicelog_stream
ListenStream= 127.0.0.1:8080
ListenDatagram= 127.0.0.1:8081
ListenDatagram= ./servicelog_datagram

[Install]
WantedBy=sockets.target