[Service]
ExecStart= ./target/debug/testservice arg1 arg2
Sockets= test_second.socket
NotifyAccess= all
Type= notify
Restart= always
ExecStartPre= /bin/true
ExecStartPost= /bin/true
ExecStop= /bin/true

[Unit]
Before= test2.service

[Install]
WantedBy= default.target