[Unit]
Description= Start getty on /dev/tty1

[Service]
ExecStart=/sbin/agetty -o '-p -- \\u' /dev/tty2
Type=simple
Restart=always

[Install]
WantedBy=getty.target